.input-label {
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  i {
    color: var(--primary-color);
    font-size: 0.8rem;
  }

  .required-asterisk {
    color: #f44336;
    margin-left: 0.25rem;
  }
}

::ng-deep input.custom-input.p-inputtext {
  height: 2rem !important;
  border-radius: 0.75rem !important;
  border: 1px solid var(--surface-border) !important;
  padding: 0 0.5rem !important;
  font-size: 0.9rem !important;
  text-align: right !important;
}
