<div class="admin-articulos-container">
  <app-search-header
    placeholder="Buscar artículos..."
    [(searchTerm)]="searchTerm"
  >
  </app-search-header>

  <div class="content-area">
    <div *ngIf="articulos.length > 0; else noArticulos" class="articulos-grid">
      <app-articulo-card
        *ngFor="let articulo of articulos"
        [articulo]="articulo"
        (cardClicked)="abrirModalArticulo($event)"
      ></app-articulo-card>
    </div>
    <ng-template #noArticulos>
      <app-empty-placeholder
        icon="box-open"
        title="No hay artículos disponibles"
        description="Prueba con otros filtros de búsqueda"
      ></app-empty-placeholder>
    </ng-template>
  </div>
</div>

