.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--surface-ground);
}

.content-wrapper {
  display: flex;
  flex: 1;
  height: calc(100vh - 3.75rem); // Restar la altura del topbar
  overflow: hidden;
}

.main-content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  background: white;
  overflow-y: auto;
}

// Responsive general para layout
@media (max-width: 768px) {
  .content-wrapper {
    height: calc(100vh - 3.75rem);
  }

  .main-content {
    padding: 0.75rem;
  }
}
