.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--surface-ground);
}

.content-wrapper {
  display: flex;
  flex: 1;
  height: calc(100vh - 3.75rem);
  overflow: hidden;
}

.main-content {
  flex: 1;
  background: #f3f4f6;
}

