<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          rgb(20, 184, 166) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
        style="border-radius: 53px"
      >
        <img
          src="assets/layout/images/logo-home-2.png"
          alt="Sakai logo"
          class="w-20rem flex-shrink-0"
        />
        <!-- <p-divider class="w-full"></p-divider> -->
        <span class="text-teal-600 font-bold text-6xl">404</span>
        <h1 class="text-900 font-bold text-5xl lg:text-7xl mb-2">OOPS!</h1>
        <div class="text-600 text-1xl mb-5">
          No pudimos encontrar la página que estabas buscando.
        </div>
        <a
          href="https://diagnostilab.com.co/"
          target="_blank"
          class="w-full flex align-items-center py-5 border-300 border-bottom-1"
        >
          <span
            class="flex justify-content-center align-items-center bg-teal-400 border-round"
            style="height: 3.5rem; width: 3.5rem"
          >
            <i class="pi pi-fw pi-question-circle text-50 text-2xl"></i>
          </span>
          <span class="ml-4 flex flex-column">
            <span class="text-900 lg:text-xl font-medium mb-0"
              >Centro de Soporte</span
            >
            <span class="text-600 lg:text-xl"
              >Click aqui para contactar con soporte.</span
            >
          </span>
        </a>

        <a
          (click)="back()"
          target="_blank"
          class="w-full flex align-items-center py-5 border-300 border-bottom-1"
          style="cursor: pointer"
        >
          <span
            class="flex justify-content-center align-items-center bg-teal-400 border-round"
            style="height: 3.5rem; width: 3.5rem"
          >
            <i class="pi pi-fw pi-replay text-50 text-2xl"></i>
          </span>
          <span class="ml-4 flex flex-column">
            <span class="text-900 lg:text-xl font-medium mb-0">Regresar</span>
            <span class="text-600 lg:text-xl"
              >Click aqui para regresar a la pagina anterior.</span
            >
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
