<app-search-header [showSearchInput]="false">
  <app-button
    type="outline-primary"
    size="sm"
    icon="fas fa-sliders-h"
    (clicked)="openFilters()"
  >
    Filtros
  </app-button>
</app-search-header>

<div class="estadisticas-container">
  <div class="cards-grid">
    <div class="stat-card" *ngFor="let item of resumenData | keyvalue" [ngClass]="item.key">
      <i [ngClass]="item.value.icon"></i>
      <div class="card-content">
        <h3>{{ item.value.valor }}</h3>
        <p>{{ item.value.titulo }}</p>
      </div>
    </div>
  </div>
</div>

<app-generic-filter
  [form]="filtro"
  [(isOpen)]="isOpen"
>
  <div style="display: flex; gap: 1rem">
    <app-input-date-field
      formControlName="fechaInicio"
      label="Fecha inicio"
    ></app-input-date-field>
    <app-input-date-field
      formControlName="fechaFin"
      label="Fecha fin"
    ></app-input-date-field>
  </div>
</app-generic-filter>
