<aside class="sidebar" [class.sidebar-collapsed]="isCollapsed">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a
          [routerLink]="[item.route]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          [title]="item.label"
          (click)="onMenuItemClick(item)"
        >
          <i [class]="item.icon"></i>
          <span *ngIf="!isCollapsed">{{ item.label }}</span>
          <i
            *ngIf="item.children && !isCollapsed"
            class="fas fa-chevron-down expand-icon"
            [class.rotate]="item.expanded"
          ></i>
        </a>

        <!-- Submenú desplegable -->
        <ul
          *ngIf="item.children && item.expanded && !isCollapsed"
          class="sub-nav-list"
        >
          <li class="nav-item" *ngFor="let child of item.children">
            <a
              href="#"
              (click)="$event.preventDefault(); onMenuItemClick(child)"
              [class.active]="child.active"
              class="nav-link sub-nav-link"
              [title]="child.label"
            >
              <i [class]="child.icon"></i>
              <span>{{ child.label }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
