<div class="explorar-container">
  <app-search-header
    placeholder="Buscar artículos..."
    [(searchTerm)]="searchTerm"
  >
  </app-search-header>

  <div class="content-area">
    <div *ngIf="articulos.length > 0; else noArticulos" class="articulos-grid">
      <app-articulo-card
        *ngFor="let articulo of articulos"
        [articulo]="articulo"
        [esDueno]="false"
        [menuItems]="[]"
        (cardClicked)="abrirModalArticulo($event)"
      ></app-articulo-card>
    </div>
    <ng-template #noArticulos>
      <app-empty-placeholder
        icon="box-open"
        title="No hay artículos disponibles"
        description="Prueba con otros filtros de búsqueda"
      ></app-empty-placeholder>
    </ng-template>
  </div>
</div>

<app-generic-filter
  [(isOpen)]="isOpen"
  (applyFilter)="onFiltersApplied()"
  (clearFilter)="clearFilters()"
>
  <form *ngIf="filtro" [formGroup]="filtro">
    <div style="display: flex; gap: 1rem">
      <app-input-date-field
        formControlName="fechaDesde"
        label="Fecha inicio"
      ></app-input-date-field>
      <app-input-date-field
        formControlName="fechaHasta"
        label="Fecha fin"
      ></app-input-date-field>
    </div>

    <app-dropdown-field
      label="Categoría"
      formControlName="categoriaId"
      [options]="categorias"
    ></app-dropdown-field>

    <app-dropdown-field
      label="Estado"
      formControlName="estadoId"
      [options]="condiciones"
    ></app-dropdown-field>

    <app-dropdown-field
      label="Tipo de Transacción"
      formControlName="tipoTransaccionId"
      [options]="tiposTransaccion"
    ></app-dropdown-field>
  </form>
</app-generic-filter>
